<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <connectionStrings>
    <add name="MCS" connectionString="Data Source=192.168.111.88; initial catalog=MCS; persist security info=True; user id=Odmin; password=Qwerty12" providerName="Sql.Data.Client" />
    <add name="DefaultConnection" connectionString="Data Source=192.168.111.88; initial catalog=CRCMS_new; persist security info=True; user id=Odmin; password=Qwerty12" providerName="System.Data.SqlClient" />
  <add name="McsDB" connectionString="data source=192.168.111.88;initial catalog=MCS;user id=Odmin;password=Qwerty12;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings>
  
</configuration>